$thm-base: var(--thm-base);
$thm-primary: var(--thm-primary);
$thm-primary-rgb: var(--thm-primary-rgb);
$thm-colour-mobile-menu: var(--colour-mobile-menu);
$thm-secondary-colour: var(--secondary-colour);
$thm-secondary-colour-highlight: var(--secondary-colour-highlight);
$thm-white: var(--white);
