table,
td {
  width: 100%;
  padding: 0.875em 1.5em 0.75em;
}

#module,
#credits,
#caption {
  background-color: $thm-secondary-colour;
  color: $thm-white;
  border-bottom: 2px solid $thm-primary;
  border-right: 1px solid $thm-white;
  padding: 1em;
}

#caption {
  background: $thm-base;
  border-bottom: transparent;
}
