@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Colour variables
$white: #fff;
$gray-300: #e8e8e8;
$gray-500: #a7a9c0;
$gray-600: #7e8097;
$gray-800: #30364d;
$gray-900: #212529;
$black: #000;
$primary: #2cb5cc;
$secondary: #6c757d;
$success: #2dd6b7;
$info: #56c6e6;
$warning: #ffbb13;
$danger: #f0183c;
$dark: #232940;
$light: #b7d3e0;
$muted: #9090a0;
$body-bg: #9cc3d57a;

// Theme Colour
$colour-variables: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "light": $light,
  "muted": $muted,
);

// Font variable
$font-primary: "Poppins", sans-serif;
$font-secondary: "Arial", sans-serif;
